
        .project-details-container {
        width: 100%;
        max-width: 1000px;
        margin: auto;
        padding: 1rem;
        box-sizing: border-box;
        }

        .project-header img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        border: 2px solid #059212;
        }

        .project-meta {
        color: gray;
        font-size: 0.9rem;
        margin-bottom: 2rem;
        }

        .project-section {
        margin-bottom: 2rem;
        }

        .project-section h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        }

        .project-section p {
        line-height: 1.6;
        font-size: 1rem;
        }
        .project-section span{
            font-size: 14px;
        }

        .project-tech-stack {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-top: 0.5rem;
        }


        /* Responsive Styles */
        @media (max-width: 768px) {
        .project-details-container {
            padding: 1rem;
        }

        .project-section h2 {
            font-size: 1.3rem;
        }

        .project-section p {
            font-size: 0.95rem;
        }

        }

        @media (max-width: 480px) {
        .project-section h2 {
            font-size: 1.2rem;
        }

        .project-section p {
            font-size: 0.9rem;
        }

        }